$colour-primaire: #9356dc;
$colour-secondaire: #FF79DA;
$colour-secondaire_bis:#F5EDFF;
$colour-tertiaire: #99E2D0;
$colour-bg-footer: rgb(53,53,53);
$colour-bg-search1:rgb(234,234,234);
$colour-bg-search2:rgb(246,246,246);
$colour-ft-search:rgb(125,125,125);


$font-prime: 'Roboto', sans-serif;
$font-second: 'Shrikhand', cursive;